* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}
body {
  background-color: #2f0142;
}
h1,
h2,
h3 {
  color: rgb(255, 251, 251);
}
body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: grey;
}
