.logo-container {
  text-align: center;
  .logo {
    font-family: "Great Vibes", cursive;
    font-size: 1.2rem;
    color: var(--secondary-color);
    width: 100%;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.playlist-container {
  display: grid;
  grid-gap: 0.3rem;
}

.album-card {
  width: 6rem;
  img {
    border-radius: 5%;
    height: 6rem;
    width: 6rem;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    align-self: center;
  }
}

.track-card-small {
  cursor: pointer;
  color: var(--primary-text-color);
  display: grid;
  grid-template-columns: 5rem minmax(25rem, auto) 2rem;
  p {
    font-size: small;
    align-self: center;
  }
  img {
    border-radius: 5%;
    height: 50px;
    width: 50px;
  }
  &:hover {
    background-color: rgb(56, 54, 54);
  }
}

.userDropDown {
  position: absolute;
  height: auto;
  width: 6rem;
  right: 1.5rem;
  border-radius: 5%;
  background-color: #3d2a74;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  ul {
    font-size: 0.9rem;

    li {
      text-decoration: none;
      color: var(--primary-text-color);
      border-radius: 5%;
      padding-left: 0.5rem;
      margin: 0.2rem 0;
    }
    li:hover {
      cursor: pointer;
      background-color: #4d4b52fa;
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.page-header {
  border-bottom: 0.1px solid rgba(109, 107, 107, 0.671);
}
