@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --primary-color: #0a0033;
  // --primary-color: #090909;
  --secondary-color: #ffa47d;
  // --sidebar-color: #2a003b;
  --sidebar-color: #090025;
  // --sidebar-color: #1e1e1e;
  // --music-player-color: #390a4d;
  --music-player-color: #190d4a;
  // --primary-text-color: #c4c4c4;
  --primary-text-color: #f3f3f3;
  // --secondary-text-color: #898989;
  --secondary-text-color: #b4b4b4;
  --highlight-color: #c5ffe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  scrollbar-color: #2c1b5e #09002a;
}

body {
  color: var(--primary-text-color);

  background-color: var(--primary-color);

  &::-webkit-scrollbar-track {
    background-color: #080024;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2c1b5e;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #4d0e68;
  }
}

.menu-exit {
  display: none;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

@import "./album";
@import "./artist";
@import "./player";
@import "./header";
@import "./sidebar";
@import "./loading";
@import "./main";
@import "./misc";
@import "./mediaQuery";
@import "./utilities";
@import "./register";
@import "./room";
@import "./profile";
@import "./friends"