.main {
  height: 87vh;
  width: 100vw;
  padding-left: 500px;
}

.tracks-list {
  display: grid;
  grid-template-columns: auto auto auto;
  /* padding: 100px; */
}

.track-item {
  text-align: center;
  padding: 50px;
}

img {
  border-radius: 10%;
}
