/* Utilities */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.icon {
  width: 15px;
  height: 15px;
}

.slider::-webkit-slider-thumb {
  /* -webkit-appearance: none;
  appearance: none; */
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
}

/* .slider::-webkit-slider-runnable-track {
  height: 40px;
  -webkit-appearance: none;
  color: #444;
  margin-top: -1px;
  transition: box-shadow 0.2s ease-in-out;
}
.slider::-webkit-slider-thumb {
  width: 40px;
  -webkit-appearance: none;
  height: 40px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}
.slider:active::-webkit-slider-thumb {
  background: #fff;
  box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
} */

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* overflow: auto; */
  padding: 0 40px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

/* .card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
} */

.btn {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #430060;
  transition: background-color 0.3s, transform 1s ease;
}

.btn:hover {
  background-color: #4d006f;
}

.btn:active {
  transform: scale(0.8);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

/* Backgrounds and Colourd buttons*/

.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

/* Text sizes */

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

/* Margin */

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}
.my-6 {
  margin: 5rem 0;
}

.my-7 {
  margin: 6rem 0;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}
.m-6 {
  margin: 5rem;
}

.m-7 {
  margin: 6rem;
}

/* Padding */

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}
.py-6 {
  padding: 5rem 0;
}
.py-7 {
  padding: 6rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}
.p-6 {
  padding: 5rem;
}
.p-7 {
  padding: 6rem;
}
