@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --primary-color: #0a0033;
  --secondary-color: #ffa47d;
  --sidebar-color: #09002a;
  --music-player-color: #190d4a;
  --primary-text-color: #c4c4c4;
  --secondary-text-color: #898989;
  --highlight-color: #c5ffe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  &::-webkit-scrollbar-track {
    background-color: #080024;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2c1b5e;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #4d0e68;
  }
}

.menu-exit {
  display: none;
}

.logo-container {
  text-align: center;
  .logo {
    font-family: "Great Vibes", cursive;
    font-size: 1.2rem;
    color: var(--secondary-color);
    width: 100%;
  }
}

.sidebar {
  background: var(--sidebar-color);
  width: 20rem;
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-bottom: 9rem;
  overflow-y: auto;
  z-index: 5;

  & > * {
    margin: 2.2rem 0;
  }
  // .logo-container {
  //   text-align: center;
  //   .logo {
  //     cursor: pointer;
  //     font-family: "Great Vibes", cursive;
  //     font-size: 1.2rem;
  //     color: var(--secondary-color);
  //     width: 100%;
  //   }
  // }

  section {
    h1 {
      font-size: 1rem;
      color: var(--primary-text-color);
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    .side-menu {
      padding: 0.7rem 0;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #707070;
        opacity: 0.2;
      }

      &:hover::after {
        background: var(--primary-text-color);
      }

      span {
        font-size: 0.8rem;
        color: var(--secondary-text-color);
        transition: color 0.3s ease-in;
      }

      &:hover span {
        color: lightgray;
      }

      &.active span {
        color: var(--highlight-color);
      }

      &.active::after {
        height: 2px;
        background: var(--highlight-color);
      }

      span,
      &::after {
        transition: all 0.2s ease-in;
      }

      svg {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        fill: #898989;
      }

      svg > path {
        transition: fill 0.3s ease-in;
      }

      &:hover svg > path {
        fill: lightgray;
      }
    }
  }

  .subs-btn {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    // letter-spacing: 0.1rem;
    font-size: 0.8rem;
    background-color: #2c1b5e;
    color: var(--primary-text-color);
    margin-top: 1.1rem;
  }

  .subs-btn:hover {
    background-color: #3d2a75;
  }

  &::-webkit-scrollbar-track {
    background-color: #080024;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2c1b5e;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #3d2a75;
  }
}

header {
  margin-left: 20rem;
  padding: 4.5rem 3.5rem;
  padding-bottom: unset;
  background: var(--primary-color);
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
  }

  .search-container {
    display: flex;
    gap: 1rem;

    .search-btn {
      display: flex;
      align-items: center;
    }
    .search-input {
      background: transparent;
      border: none;
      padding: 0.5rem;
      width: 20rem;
      color: var(--primary-text-color);
    }
  }

  .logo-container {
    display: none;
  }

  .header-account-settings {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .profile-pic {
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
  .menu-btn-mobile-tab {
    display: none;
  }
}

.main {
  margin-left: 20rem;
  background: var(--primary-color);
  padding: 4rem 3.5rem;
  padding-bottom: 9rem;
  overflow: hidden;

  h1 {
    color: var(--primary-text-color);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  .song-list {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    // overflow: hidden;
  }

  // .song-list::-webkit-scrollbar {
  //   display: none;
  // }

  .song-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 13rem;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      cursor: pointer;
      width: 13rem;
      height: 13rem;
      margin-bottom: 0.5rem;
      border-radius: 1.5rem;
    }

    .song-name {
      font-size: 0.9rem;

      font-weight: 600;
      color: var(--primary-text-color);
    }

    .song-artist {
      font-size: 0.8rem;
      color: var(--secondary-text-color);
    }
  }
}

.player-loading {
  height: 0.2rem;
  position: absolute;
  background: var(--secondary-color);
  top: 0;
  left: 0;
  right: 0;
  // grid-column: 1 / span 3;
  width: 100%;
}

.player {
  background: var(--music-player-color);
  width: 100%;
  height: 7rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem 3.5rem;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .current-song-info {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex: 1;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;

      .song-name {
        color: var(--primary-text-color);
        font-weight: 600;
      }

      .song-artist {
        font-size: 0.8rem;
        color: var(--secondary-text-color);
      }
    }
  }
  .music-controller {
    flex: 2;
    display: flex;
    gap: 3rem;

    .play-fo-back-controller {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        cursor: pointer;
        transform: scale(0.9);
      }
    }

    .main-controller {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        width: 1.5rem;
        font-size: 0.8rem;
        color: var(--secondary-text-color);
      }

      .slider-container {
        display: flex;
        align-items: center;

        .slider {
          // appearance: none;
          width: 25rem;
          height: 1px;
          // overflow: hidden;
        }
      }
    }

    .interactivity {
      display: flex;
      align-items: center;
      gap: 2rem;

      svg {
        cursor: pointer;
        width: 0.8rem;
        height: 0.8rem;
      }

      .other-options {
        cursor: pointer;
        color: var(--primary-text-color);
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .full-min-player-toggle {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }
}

.loading {
  background: var(--primary-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  .circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: white;
  }
}

.tracks-loading {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  .loading-circle {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

// Media Queries for Responsive Design

@media only screen and (max-width: 500px) {
  .menu-exit,
  .menu-btn-mobile-tab {
    display: unset !important;
  }
  .sidebar {
    // display: none;
    left: unset !important;
    right: -20rem;
    padding: 2.5rem;
    transition: transform 0.6s ease-in-out;
    transform-origin: left;

    .menu-exit {
      top: 1rem;
      width: 1rem;
      height: 1rem;
      margin: 0rem !important;
      cursor: pointer;
    }

    .logo-container {
      display: unset !important;
    }

    h1 {
      font-size: 1.2rem !important;
    }
  }

  header,
  main {
    margin: unset !important;
  }

  header {
    padding: 1.5rem 1.5rem !important;
    padding-bottom: 1rem !important;

    .search-input {
      display: none;
    }

    .header-account-settings {
      display: none;
    }

    .menu-btn-mobile-tab {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }
  }

  main {
    padding: 1.5rem 1.5rem !important;
    padding-bottom: 8rem !important;

    h1 {
      font-size: 1.6rem !important;
      margin-bottom: 1.4rem !important;
    }

    .song-list {
      gap: 1.2rem !important;

      .song-info {
        width: 9rem !important;

        img {
          width: 9rem !important;
          height: 9rem !important;
          border-radius: 1rem;
        }

        .song-name {
          font-size: 0.8rem !important;
        }

        .song-artist {
          font-size: 0.7rem !important;
        }
      }
    }
  }

  .player {
    padding: 1rem 1.5rem !important;
    height: unset;

    .current-song-info {
      gap: 1rem;

      img {
        width: 2rem;
        height: 2rem;
      }

      & > div {
        gap: 0.2rem;

        .song-name {
          font-size: 0.9rem;
        }
        .song-artist {
          font-size: 0.7rem !important;
        }
      }
    }

    .play-fo-back-controller {
      .backward,
      .forward {
        display: none;
      }
    }
    .main-controller,
    .interactivity {
      display: none !important;
    }

    .full-min-player-toggle {
      display: none;
    }
  }
}
