@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --primary-color: #2f0042;
  --secondary-color: #ffa47d;
  --sidebar-color: #2a003b;
  --music-player-color: #390a4d;
  --primary-text-color: #c4c4c4;
  --secondary-text-color: #898989;
  --highlight-color: #c5ffe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.sidebar {
  background: var(--sidebar-color);
  width: 20rem;
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 1.5rem 3.5rem;

  & > * {
    margin: 2.2rem 0;
  }
  .logo-container {
    text-align: center;
    .logo {
      cursor: pointer;
      font-family: "Great Vibes", cursive;
      font-size: 1.2rem;
      color: var(--secondary-color);
      width: 100%;
    }
  }

  section {
    h1 {
      font-size: 1rem;
      color: var(--primary-text-color);
      margin-bottom: 0.5rem;
    }

    .side-menu {
      padding: 0.7rem 0;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #707070;
        opacity: 0.2;
      }

      &:hover::after {
        background: var(--primary-text-color);
      }

      span {
        font-size: 0.8rem;
        color: var(--secondary-text-color);
        transition: color 0.3s ease-in;
      }

      &:hover span {
        color: lightgray;
      }

      &.active span {
        color: var(--highlight-color);
      }

      &.active::after {
        height: 2px;
        background: var(--highlight-color);
      }

      span,
      &::after {
        transition: all 0.2s ease-in;
      }

      svg {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        fill: #898989;
      }

      svg > path {
        transition: fill 0.3s ease-in;
      }

      &:hover svg > path {
        fill: lightgray;
      }
    }
  }

  .subs-btn {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    // letter-spacing: 0.1rem;
    font-size: 0.8rem;
    color: var(--primary-text-color);
    margin-top: 1.1rem;
  }
}

header {
  margin-left: 20rem;
  padding: 4.5rem 3.5rem;
  padding-bottom: unset;
  background: var(--primary-color);
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .search-container {
    display: flex;
    gap: 1rem;

    .search-btn {
      display: flex;
      align-items: center;
    }
    .search-input {
      background: transparent;
      border: none;
      padding: 0.5rem;
      width: 20rem;
      color: var(--primary-text-color);
    }
  }

  .header-account-settings {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .profile-pic {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
  .search-suggestion {
    border-radius: 0 0 5% 5%;
    overflow: hidden;
    background-color: black;
    position: absolute;
    width: 20rem;
    opacity: 0.8;

    .results {
      padding: 0.5rem;
      .result-item {
        color: #c5ffe6;
        font-size: 0.9rem;
        cursor: pointer;
      }
      .result-item:hover {
        color: black;
        background-color: rgb(248, 248, 248);
      }
    }
  }
}

.main {
  margin-left: 20rem;
  background: var(--primary-color);
  padding: 4rem 3.5rem;
  padding-bottom: 9rem;
  overflow: hidden;

  h1 {
    color: var(--primary-text-color);
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .song-list {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    // overflow: hidden;
  }

  // .song-list::-webkit-scrollbar {
  //   display: none;
  // }

  .song-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 13rem;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      cursor: pointer;
      width: 13rem;
      height: 13rem;
      margin-bottom: 0.5rem;
      border-radius: 1.5rem;
    }

    .song-name {
      font-size: 0.9rem;
      font-weight: bold;
      color: var(--primary-text-color);
    }

    .song-artist {
      font-size: 0.8rem;
      color: var(--secondary-text-color);
    }
  }
}

.player {
  background: var(--music-player-color);
  width: 100%;
  height: 7rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem 3.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .current-song-info {
    display: flex;
    gap: 2rem;
    flex: 1;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;
    }

    .song-name {
      color: var(--primary-text-color);
      font-weight: bold;
    }

    .song-artist {
      font-size: 0.8rem;
      color: var(--secondary-text-color);
    }
  }

  .music-controller {
    flex: 2;
    display: flex;
    gap: 3rem;

    .play-fo-back-controller {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        transform: scale(0.9);
      }
    }

    .main-controller {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        width: 1.5rem;
        font-size: 0.8rem;
        color: var(--secondary-text-color);
      }

      .slider-container {
        display: flex;
        align-items: center;

        .slider {
          // appearance: none;
          width: 25rem;
          height: 1px;
          // overflow: hidden;
        }
      }
    }

    .interactivity {
      display: flex;
      align-items: center;
      gap: 2rem;

      img {
        width: 0.8rem;
        height: 0.8rem;
      }

      .other-options {
        color: var(--primary-text-color);
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .full-min-player-toggle {
    width: 1rem;
    height: 1rem;
  }
}

.loading {
  background: var(--primary-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  .circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: white;
  }
}

.tracks-loading {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  .loading-circle {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
